# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore directories
/doc/

# Ignore word doc and img
*.png
*.docx

# Ignore the superhero jupyter notebook
Assignment5b.ipynb
Assignment3.html
Assignment3.md
Assignment3.ipynb
